*{
margin: 0;
box-sizing: border-box;
font-family: helvetica;
}
.container{
  width: 100%;
  height: 100%;
  background-color: black;
}
.nav-bar{
  justify-content: space-between;
  display: flex;
  align-items: center;
  text-align: center;
  height:35px;
  width:100%;
  margin: auto;
  height:46px;
  max-width:1000px;
  background:black;
  opacity: 10px;
}
.nav-bar a{
  font-size:12px;
  text-decoration: none;
  color: rgb(187, 185, 185);
  transition: color 0.55s;
}
.nav-bar a:hover{
  color: #ffff;
}
.apple-icon{
  width:25px;
}
.search{
  width:21px;
}
.shop{
  width: 20px;;
}
#outer-down-bar{
  background-color:rgb(40, 38, 38);
}
.down-bar{
  color: white;
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height:46px;
  height:100%;
}
.down-bar p{
  float: left;
}
.shop-now{
  text-decoration:none;
  color: #0066cc;
  margin-left:4px;
  line-height:23px;
}
.down-bar a:hover{
  text-decoration: underline;
}
.iphone15{
  color:white;
  display: flex;
  align-items: center;
  justify-content:center;
  flex-direction: column;
  user-select:none;
  cursor: pointer;
}
.iphone15 p{
  padding-top:36px;
  font-size: 50px;
  font-weight:bold;
  line-height:80px;
  }
.buy-div a:hover{
  text-decoration: underline;
}
.learn-more{
  color:#0066cc;
  font-size: 20px;
  line-height:60px;
  text-decoration:none;
  margin: auto;
}
.buy-link{
  color:#0066cc;
  font-size: 20px;
  line-height:60px;
  text-decoration:none;
  margin: auto;
  margin-left: 50px;
}
#buy a:hover{
  text-decoration: underline;
}
.iphone15 img{
  width:100%;
}
.second-img{
  margin-top:15px;
  color:black;
  display: flex;
  align-items:center;
  justify-content:center;
  flex-direction: column;
  user-select:none;
  cursor: pointer;
  background-color: #dad5d536;
}
.second-img p{
  padding-top:36px;
  font-size: 50px;
  font-weight:bold;
  line-height:80px;
}
.second-img img{
  width: 100%;
}
#inner-store{
  color: #ffff;
  display:none;
  animation-name: example;
  animation-duration:2s;
}
#inner-store-two{
  color: #ffff;
  display:none;
  transition:height 1s;
  animation-name: second;
  animation-duration:2s;
}
@media (max-width: 600px) {
  .nav-bar {
    flex-direction: column;
    text-align: center;
  }
}
@media (max-width: 600px) {
  /* Adjust styles for smaller screens */
  #inner-store {
    height: auto; /* Adjust height or other styles as needed */
  }
}
.compare{
  margin-top:18px;
  line-height:26px;
}
.special-store-two a{
  line-height: 26px;
}
.quick-links-two a{
  line-height: 26px;
}
.quick-links-two{
  margin-left:80px;
}
.special-store-two{
  margin-left:40px;
}
@keyframes example {
  from {height: 0px;}
  to {height: 360px;}
}
@keyframes second {
  from {height: 0px;}
  to {height: 430px;}
}
.total{
  display: flex;
  width:100%;
  margin: auto;
  max-width:1000px;
  margin-top:30px;
  line-height:40px;
  height:100%;
  min-height:360px;
}
.non-link{
  color: grey;
}
.quick-links{
  margin-left:80px;
  
}
.quick-links a{
  line-height:26px;
}
.special-store{
  margin-left:40px;
}
.special-store a{
  line-height:26px;
}
#disappear{
  text-align: center;
}
