*{
margin: 0;
box-sizing: border-box;
font-family: helvetica;
}
.container{
  width: 100%;
  height: 100%;
  background-color: black;
}
.nav-bar{
  justify-content: space-between;
  display: flex;
  align-items: center;
  height:35px;
  width:100%;
  max-width:1000px;
  margin: auto;
  height:46px;
}
.nav-bar a{
  font-size:12px;
  text-decoration: none;
  color: rgb(187, 185, 185);
  transition: color 0.55s;
}
.nav-bar a:hover{
  color: #ffff;
}
.apple-icon{
  width:25px;
}
.search{
  width:21px;
}
.shop{
  width: 20px;;
}
#down-bar{
  color: white;
  font-size: 14px;
  display: flex;
  background-color:rgb(40, 38, 38);
  height:45px;
  justify-content: space-between;
  margin: auto;
  align-items: center;
  width:90%;
  max-width:870px;
}
#down-bar a{
  text-decoration:none;
  margin-top:4px;
  margin-left:2px;
  font-size: 16px;
  color: #0066cc;
  margin: auto;
  right:327px;
}
#down-bar a:hover{
  text-decoration: underline;
}
.outer-down-bar{
  background-color:rgb(40, 38, 38);
}
.iphone15{
  color:white;
  display: flex;
  align-items: center;
  justify-content:center;
  flex-direction: column;
  user-select:none;
  cursor: pointer;
}
.iphone15 p{
  padding-top:36px;
  font-size: 50px;
  font-weight:bold;
  line-height:80px;
  }
#buy{
  display: flex;
  justify-content: space-evenly;
}
#buy a{
  color:#0066cc;
  font-size: 20px;
  line-height: 0;
  line-height:60px;
}
#buy a:hover{
  text-decoration: underline;
}
.iphone15 img{
  width:100%;
}
.second-img{
  margin-top:15px;
  color:black;
  display: flex;
  align-items:center;
  justify-content:center;
  flex-direction: column;
  user-select:none;
  cursor: pointer;
  background-color: #dad5d536;
}
.second-img p{
  padding-top:36px;
  font-size: 50px;
  font-weight:bold;
  line-height:80px;
}
.second-img img{
  width: 100%;
}
#inner-store{
  color: #ffff;
  display:none;
}
.total{
  display: flex;
  width:100%;
  margin: auto;
  max-width:1000px;
  margin-top:30px;
  line-height:40px;
  height:100%;
  min-height:360px;
}
.non-link{
  color: grey;
}
.quick-links{
  margin-left:80px;
}
.special-store{
  margin-left:40px;
}
#disappear{
  text-align: center;
}
